extends ./layout

block content
	p Hello #{name}!
	p Nice to see you at our website.
	p Could you follow the link, please to complete the registration

	p http://localhost:3000/emailconfirm/#{authcode}

	p Have a nice day!
